.container{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #303030;
  text-shadow: 1px 1px 1px #706d6d;
}

.name{
    font-family: Helvetica;
    position: fixed;
    top: 10px;
    left: 9.5%;
    margin: 15px;
    margin-right: 5%;
    font-size: 25px;
}

.logo {
  position: fixed;
  right: 9.5%;
  width: 100px;
  height: 85px;
}