.container {
  position: relative;
  top: 0px;
  width: 80%;
  height: calc(100vh - 220px);
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  overflow-y: auto;
  font-family: Roboto;
}
 
.container h1{
  float: left;
  margin: 0;
  padding: 20px 0px 10px 15px;
  font-size: 20px;
  text-align: justify;
}

.container p{
  float: left;
  margin: 0px 10px 10px 25px;
  padding: none;
  font-size: 20px;
  text-align: justify;
}

.container::-webkit-scrollbar-track {
  border: 1px solid rgb(165, 162, 162);
  padding: 2px 0;
  background-color: #c7c6c6;
  border-radius: 10px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(139, 137, 137, 0.3);
  background-color: #737272;
  border: 1px solid rgb(167, 166, 166);
}