.container {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 170px);
    border: none;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(251, 252, 250);
}