.container {
    position: fixed;
    top: 100px;
    width: 99%;
    height: calc(100vh - 190px);
    margin:10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 253, 244);
    box-shadow: inset 3px 3px 5px 3px #02200d;
    opacity: 0.8;
    overflow-y: scroll;
}

p{
    float: left;
    margin: 15px 20px 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}